__pycache__/
venv/
.venv/
.env
pypi-robocrew/
.clean_coder/
.coderrules
*.wav
.idea/
/dist/
old_sdk.py
uv.lock
physical_path.sh
robot_memory.db
logs/
requirements.txt
constraints.txt
test-req.txt
*.rules
*.log
*.onnx
*.onnx.json

examples/xlerobot_controler.py
examples/xlerobot_controller.py